@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.landing-page{
    height: 80vh;
    padding-top: 5rem;
    background-image: url("../imgs/sunscreen1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    display: flex;
    justify-content: center;
    align-items: center
}

.titulo-landing{
    font-family: "Abril Fatface";
    font-size: 10vh;
    padding: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .titulo-landing{
        font-size: 6vh;
    }

    .landing-page{
        padding-top: 5rem;
        height: 60vh;
        background-position: top top;
    }
}

@media (max-width: 1030px){

}