@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.landing-page{
    height: 80vh;
    background-image: url("../imgs/rollershades.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    display: flex;
    justify-content: center;
    align-items: center
}

.titulo-landing{
    font-family: "Abril Fatface";
    font-size: 10vh;
    padding: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .titulo-landing{
        font-size: 5vh;
        padding: 1rem;
    }


    .section-landing{
        margin-top: 4.5rem ;
    }

    .landing-page{
        height: 30vh;
        background-position: center center;
    }

    .item-landing{
        margin-bottom: 2rem;
    }
}

.section-ejemplos{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background: linear-gradient(90deg, rgba(0,23,23,1) 0%, rgba(0,51,51,1) 50%, rgba(0,23,23,1) 100%);
}

.section-ejemplos img{
    width: 12rem;
}

.item-landing{
    color: white;
    font-family: "Abril Fatface";
    font-size: 1.3rem;
    padding:0 !important;
}

.item-landing div:last-child{
    margin-top: 0.5rem;
    font-family: "Roboto", sans-serif;
}

.section-landing .row{
    margin-right: 0;
    margin-left: 0;
}